{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": ["error", "double"],
    "comma-dangle": "off",
    "arrow-parens": "off",
    "consistent-return": "off",
    "no-else-return": "off"
  }
}